{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/about_fitWay.css">
<main>
    <div class="content">
        <h2>fitWayとは</h2>
        <br>
        <h2>テーマはStudyTeck (Study × Tech) </h2>
        <br>
        <h3>アイデア名：</h3>
        <p class="name">自分に合った勉強法が見つかるプラットフォーム「fitWay」</p>
        <h3>アイデア内容：</h3>
        <div class="about">
            <p>新しいことを勉強したいけど何から始めればいいかわからない。勉強しても自分に合ったやり方かどうかわからない。</p>
            <p>そんな時に、自己性格診断をもとに成功者のやり方を参考にできる。それが「fitWay」です。</p>
            <p>暗記は苦手だけど、論理的にものを考えるのは好き。</p>
            <p>すぐ飽きてしまうタイプ。</p>
            <p>など、人の性格は様々で、それによって勉強法も異なると思います。</p>
            <p>このアプリケーションは、最初に行う性格診断をもとに、自分と性格の似ている成功者の勉強法を知ることができます。</P>
            <p>投稿者は、自分の成功への道筋や失敗してしまった勉強法を共有できます。</p>
            <p>閲覧者は、おすすめされた勉強法を参考にし、なりたい自分へ近づけます！</p>
        </div>
        <h3>使っている言語や技術：</h3>
        <p>言語：html, css , Python, JavaScript</p>
        <p>技術：firebasse,  flask</p>
    </div>
</main>
{% endblock %}
