* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}
.cover{
    height: 7vh;
    background-color: rgba(235, 235, 235, 0.24);
}
body {
    width: 100%;
    height: 100%;
}

.account {
    width: 100%;
    height: fit-content;
    padding-bottom: 20px;
}

.user_name {
    font-size: 35px;
    display: inline-block;
    font-family: 'Recursive', sans-serif;
    width: 30vh;
    margin: 0 0 0 40px;
}

.tags_2 {
    display: inline-block;
    width: 50vw;
    margin: 0 auto;
    padding-left: 6vw;
    margin-top: 5vh;
    border-left: 1px gray solid;
}

.tag_group {
    width: 70vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 auto;
    padding-top: 20px;
} 

.content_tag {
    color: #2080F5;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 5px;
    display: block;
    float: left;
}

.content_tag:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #2080F5;
    text-decoration-color: #2080F5;
    text-decoration-thickness: 1px;
    -webkit-transition: all .1s 0s ease;
    transition: all .1s 0s ease;
    cursor: pointer;
}

h3 {
    width: fit-content;
    display: inline-block;
}



.article {
    width: 50vw;
    margin: 0 auto;
    height: auto;
    box-shadow: 3px 3px 3px #ddd;
    z-index: 2;
    background-color: white;
    padding: 20px;
    border-radius:10px;
    margin-bottom: 15px;
}

.subtitle_2 {
    margin-top: 10px;
    margin-left: 70px;
}

.articleiroduke {
    background-color: rgba(235, 235, 235, 0.24);
    padding-bottom: 30vh
}

.tag {
    color: #0a7ec7;
}

.title {
    font-weight: bolder;
    font-size: 20px;
}

.time {
    text-align: right;
}

.term {
    line-height: 35px;
}
.delete {
    width: fit-content;
    /* display: inline-block; */
    font-size: 15px;
    color: #0a7ec7;
    padding: 0.3em 1em;
    border: solid 2px #0a7ec7;
    border-radius: 3px;
    margin-top: 15px;
    margin-left: 85%;
}