main{
        width: 50vw;
        margin: 0 auto;
        h2{
            margin-top: 20px;
        }
        .h2{
            margin-top: 50px;
        }

    .question{
        height: 7vh;
        margin: 2vh 0;
        padding-left: 20px;
        p{
            font-size: 20px;
            margin: 0;
            span{
                float: right;
            }
        }
        input[type=text],input[type=password]{
            width: 24vw;
            font-size: 20px;
        }
        input[type=radio]{
            height: 15px;
            width: 15px;
            margin-top: 2px;
        }
        .choice{
            float: right;
            span{
                font-size: 18px;
            }
        }
    }
    .btn{
        font-size: 20px;
        margin: 0 auto;
        width: 10vw;
        text-align: center;
  color: #fff;
  background-color: #eb6100;
  border-radius: 10px;
}
.btn:hover,
.btn:hover {
  color: #fff;
  background: #f56500;
}
}