* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: fit-content;
    background-color: white;
}

.about_fitWay {
    color: #2080F5;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    display: inline-block;
    margin: 15px;
}

.about_fitWay:hover {
    opacity: .6;
    transition: all .3s 0s ease;
}

.timeline {
    width: fit-content;
    display: inline-block;
    font-size: 15px;
    color: #0a7ec7;
    padding: 0.3em 1em;
    border: solid 2px #0a7ec7;
    border-radius: 3px;
    transition: .4s;
    position: absolute;
    top: 0;
    right: 70px;
    margin: 15px;
}

.timeline:hover {
    background-color: #0a7ec7;
    color: white;
}
 
#account {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

h1 {
    font-size: 80px;
    color: orange;
    font-family: 'Irish Grover', cursive;    
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    text-shadow: 3px 3px 3px #ddd;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
}

h3 {
    padding-top: 30px;
    color: black;
    font-weight: normal;
}

.tags {
    width: 50vw;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-top: 10px;
}


.tag_link {
    text-decoration: none;
    font-size: 20px;
    width: fit-content;
    display: block;

}

.content_tag {
    color: #2080F5;
    width: fit-content;
    margin: 10px;
}

.content_tag:hover {
    text-decoration: underline;
    text-decoration-color: #2080F5;
    text-decoration-thickness: 2px;
    transition: all .1s 0s ease;
}

.input-group {
    width: 100%;
    height: 80px;
}

.search-group {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0 auto;
    height: fit-content;
}

.search {
    display: block;
    width: 400px;
    height: 45px;
    padding-left: 10px;
    font-size: 17px;
}

.input-group-btn {
    height: 45px;
    width: 45px;
}

.search-group .btn {
    width: 45px;
    height: 45px;
    background-color: #d9eaff;
    border: 1.5px rgb(105, 105, 105) solid;
}

.search-group .btn:hover {
    background-color: rgba(0, 119, 255, 0.603);
    transition: all .25s 0s ease;
    cursor: pointer;
}


h3 {
    text-align: center;
}