{% extends "base.html" %}
{% block content %}

{% endblock %}
<link rel="stylesheet" href="../static/css/about_fitWay.css">
<main>
    <h2>fitWayとは</h2>
    <h3>テーマはStudyTeck (Study × Tech) </h3>
    <h3>アイデア名：</h3>
    <p>自分に合った勉強法が見つかるプラットフォーム「fitWay」></p>
    <h3>アイデア内容：</h3>
        　新しいことを勉強したいけど何から始めればいいかわからない。勉強しても自分に合ったやり方かどうかわからない。
        　そんな時に、自己性格診断をもとに成功者のやり方を参考にできる。それが「fitWay」です。
        　暗記は苦手だけど、論理的にものを考えるのは好き。
        　すぐ飽きてしまうタイプ。
        　など、人の性格は様々で、それによって勉強法も異なると思います。
        　このアプリケーションは、最初に行う性格診断をもとに、自分と性格の似ている成功者の勉強法を知ることができます。
        　投稿者は、自分の成功への道筋や失敗してしまった勉強法を共有できます。
        　閲覧者は、おすすめされた勉強法を参考にし、なりたい自分へ近づけます！
        使っている言語や技術：
        言語：html, css , Python, JavaScript
        技術：firebace,  flask</p>
</main>
