{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/top.css">
<header>
  <a href="#"><div class="about_fitWay">fitWayについて</div></a>
  <a class="timeline" href="#">最新の投稿→</a>
  <a href="#"><img id="account" src=""></a>
</header>
<h1>fitWay</h1>
<div class="input-group">
  <div class="search-group">
      <input type="search" class="search" placeholder="#で検索 または @で人を検索">
      <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fas fa-search"></i></button>
      </span>
  </div>
</div>
<h3>最近よく使われるタグ</h3>
<div class="tags">
    <a class="tag_link" href="#"><div class="tag_name"></div></a>
</div>
</main>
<script src="../static/js/top.js"></script>
{% endblock %}