{% extends "base.html" %}
{% block content %}
<div class="account">
    <img class="profile_img" src="#">
    <span class="user_name"></span>
    <div class="tag_group">
        {% for i in list %}
        {% for j in array %}
        {% if i[j] %}
        <p>#{{ i[j] }}<p>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% for i in list %}
<div class="article">
    <p class="title">{{ i["title"] }}</p>
    <p class="time">{{ i["time"] }}</p>
    <p class="term">{{ i["term"] }}</p>
    <p class="sentence">{{ i["sentence"] }}</p>
    <p class="tag">{{ i["tag"] }}</p>
</div>
{% endfor %}
<script src="../static/js/userpage.js"></script>

{% endblock %}