{% extends "base.html" %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/css/userpage.css">
<main>
    <div class="account">
        <p class="user_name"></p>
        <div class="tags_2">
            <h3 class="subtitle_1">今までに使ったタグ</h3>
            <div class="tag_group">
                {% for i in list %}
                {% for j in array %}
                {% if i[j] %}
                <a href="/search/{{ i[j] }}"><p class="content_tag">#{{ i[j] }}<p></a>
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="articleiroduke">
        <h3 class="subtitle_2">今までの投稿</h3>
        <div class="article_group"></div>
    </div>
</main>
<!-- <script src="../static/js/userpage.js"></script> -->
<script src="../static/js/user.js"></script>

{% endblock %}